.img-profile {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: block;
  box-shadow: 4px 7px 12px -6px rgba(0,0,0,0.75);
}


.img-user {
  display: flex;
  justify-content: flex-end;
}
